@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.text-gradient-01 {
  background-image: linear-gradient(to right, #ff00cc, #3333ff);
  /* Customize the gradient colors here */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-02 {
  background-image: linear-gradient(to right, #ff9800, #ff5722);
  /* Customize the gradient colors here */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}